<!DOCTYPE html>
<html>
<head>
    <title>GLaDOS</title>
{{template "head.html"}}
</head>
<body>
{{template "nav-projects.html"}}
    <div class="container">
        <h1>GLaDOS</h1>
        <a id="createbtn" href="#" class="btn">Create</a>
        <form id="create" class="span6" method="POST" action="{{path "createproject"}}" style="display:none">
            <fieldset>
                <label>Name</label>
                <input type="text" class="span2" name="name">
                <label>Short Name</label>
                <input type="text" class="span1" name="shortname">
                <label>Description</label>
                <textarea name="description" class="span4" rows="4"></textarea>
                <label>Homepage</label>
                <input type="text" class="span3" name="url">
                <label>Tags</label>
                <input type="text" class="span3" name="tags">
                <label>VCS</label>
                <select name="vcs">
                    <option value="">None</option>
                    <option value="cvs">CVS</option>
                    <option value="svn">Subversion</option>
                    <option value="hg">Mercurial</option>
                    <option value="git">Git</option>
                    <option value="bzr">Bazaar</option>
                    <option value="darcs">Darcs</option>
                </select>
                <label>VCS URL</label>
                <input type="text" class="span3" name="url">
                <div class="form-actions">
                    <button id="createsave" type="submit" class="btn btn-primary">Save</button>
                    <button id="createcancel" class="btn">Cancel</button>
                </div>
            </fieldset>
        </form>
        {{template "projectlist.html" .}}
    </div>
{{template "js.html"}}
<script type="text/javascript" src="{{path "js" "path" "project.js"}}"></script>
</body>
</html>
