<!DOCTYPE html>
<html>
<head>
    <title>Black Forest</title>
{{template "head.html"}}
</head>
<body>
{{template "nav-projects.html"}}
    <div class="container">
        <h1>Black Forest</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#list" data-toggle="tab">Projects</a></li>
            <li><a href="#create" data-toggle="tab">Create</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="list">
                {{template "projectlist.html" .Projects}}
            </div>
            <div class="tab-pane" id="create">
                <div class="span6">
                    <form id="createform" method="POST" action="{{path "postproject"}}">
                        <fieldset>
                            <label>Name</label>
                            <input type="text" class="span3" name="name" required>
                            <label>Short Name</label>
                            <input type="text" class="span2" name="shortname" pattern="[-_0-9a-zA-Z]+" required>
                            <span class="help-block">Can only have letters, numbers, underscores, and hyphens</span>
                            <label>Description</label>
                            <textarea name="description" class="span5" rows="4"></textarea>
                            <label>Homepage</label>
                            <input type="url" class="span4" name="url">
                            <label>Tags</label>
                            <input type="text" class="span4" name="tags">
                            <span class="help-block">Tags separated by commas</span>
                            <label>Created</label>
                            <input type="datetime" class="span4" name="created" value="{{.Now|rfc3339}}" required>
                            <span class="help-block"><a href="http://tools.ietf.org/html/rfc3339#section-5.8">RFC3339</a> date of when the project was created. Example: 2006-01-02T15:04:05-07:00</span>
                            <label>VCS</label>
                            <select name="vcs">
                                <option value="">None</option>
                                <option value="cvs">CVS</option>
                                <option value="svn">Subversion</option>
                                <option value="hg">Mercurial</option>
                                <option value="git">Git</option>
                                <option value="bzr">Bazaar</option>
                                <option value="darcs">Darcs</option>
                            </select>
                            <label>VCS URL</label>
                            <input type="url" class="span4" name="vcsurl">
                        </fieldset>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </form>
                </div>
            </div>
        </div>
{{template "footer.html"}}
    </div>
{{template "js.html"}}
<script type="text/javascript" src="{{path "js" "path" "project.js"}}"></script>
</body>
</html>
