    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="{{path "index"}}">GLaDOS</a>
            <ul class="nav">
                <li><a href="{{path "index"}}">Projects</a></li>
                <li class="active"><a href="{{path "tagindex"}}">Tags</a></li>
            </ul>
            <form method="GET" action="{{path "search"}}" class="navbar-search pull-left">
                <input type="text" class="search-query" name="q" placeholder="Search">
            </form>
        </div>
    </div>
