<!DOCTYPE html>
<html>
<head>
    <title>GLaDOS</title>
{{template "head.html"}}
</head>
<body>
{{template "nav-projects.html"}}
    <div class="container">
        <h1>{{.Name}}</h1>
        <div class="row">
            <div class="span6">
                {{with .Description}}<p>{{.}}</p>{{end}}
            </div>
            <div class="span6">
                <dl class="dl-horizontal">
                    <dt>Short Name</dt><dd>{{.ShortName}}</dd>
                    {{with .Homepage}}<dt>Homepage</dt><dd><a href="{{.}}">{{.}}</a></dd>{{end}}
                    {{with .Tags}}<dt>Tags</dt><dd>{{template "tagset.html" .}}</dd>{{end}}
                    {{with .VCS}}
                    <dt>VCS</dt><dd>{{.Type}}</dd>
                    {{with .URL}}<dt>VCS Link</dt><dd><a href="{{.}}">{{.}}</a></dd>{{end}}
                    {{end}}
                    <dt>Created</dt><dd>{{.CreateTime}}</dd>
                    <dt>Catalogued</dt><dd>{{.CatalogTime}}</dd>
                    <dt>ID</dt><dd>{{.ID}}</dd>
                </dl>
            </div>
        </div>
    </div>
{{template "js.html"}}
</body>
</html>
