<!DOCTYPE html>
<html>
<head>
    <title>{{with .Query}}Search for "{{.}}"{{else}}Search{{end}}</title>
{{template "head.html"}}
</head>
<body>
{{template "nav-projects.html"}}
    <div class="container">
        <h1>Search</h1>

        <form method="GET" action="{{path "search"}}" class="form-search">
            <div class="input-append">
                <input type="text" class="search-query" name="q" value="{{.Query}}" autofocus>
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </form>
        {{range .Results}}
        <div class="searchresult">
            {{with .Project}}<h2><a href="{{path "project" "project" .ShortName}}">{{.Name}}</a></h2>{{end}}
            {{with .Result.Snippet}}
            <p>{{.}}</p>
            {{else}}
            {{with .Project.Description}}<p>{{.}}</p>{{end}}
            {{end}}
        </div>
        {{else}}
        {{if .Query}}<p class="lead">No results found</p>{{end}}
        {{end}}

        {{if inteq .PageCount 1 | not | and .Results}}
        <div class="pagination">
            <ul>
                {{with prevPage .Page .PageCount}}<li><a href="?q={{$.Query}}&page={{.}}">&laquo;</a></li>{{else}}<li class="disabled"><span>&laquo;</span></li>{{end}}
                {{range prevPageList .Page .PageCount 5}}
                <li><a href="?q={{$.Query}}&page={{.}}">{{.}}</a></li>
                {{end}}
                <li class="active"><a href="?q={{$.Query}}&page={{.Page}}">{{.Page}}</a></li>
                {{range nextPageList .Page .PageCount 5}}
                <li><a href="?q={{$.Query}}&page={{.}}">{{.}}</a></li>
                {{end}}
                {{with nextPage .Page .PageCount}}<li><a href="?q={{$.Query}}&page={{.}}">&raquo;</a></li>{{else}}<li class="disabled"><span>&raquo;</span></li>{{end}}
            </ul>
        </div>
        {{end}}

        {{if .Query}}
        <p>{{.NResults}} {{if inteq .NResults 1}}result{{else}}results{{end}} in {{.TimeTaken|milliseconds}}.</p>
        {{end}}
{{template "footer.html"}}
    </div>
{{template "js.html"}}
</body>
</html>
