<!DOCTYPE html>
<html>
<head>
    <title>GLaDOS Tags</title>
{{template "head.html"}}
</head>
<body>
{{template "nav-tags.html"}}
    <div class="container">
        <h1>Tags</h1>
        <div class="row">
            {{template "tagsidebar.html" .Tags}}
            <div class="span9">
                <h2>Projects Tagged with "{{.Tag}}"</h2>
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tags</th>
                        <th>Homepage</th>
                    </tr>
                </thead>
                <tbody>
                {{range .Projects}}
                    <tr>
                        <td><a href="{{path "project" "project" .ShortName}}" title="{{.ShortName}}">{{.Name}}</a></td>
                        <td>{{template "tagset.html" .Tags}}</td>
                        <td>{{with .Homepage}}<a href="{{.}}">{{.}}</a>{{end}}</td>
                    </tr>
                {{end}}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{{template "js.html"}}
</body>
</html>
